# 管理后台本地运行端口号
ADMIN_PORT = 8081

# 向下兼容原模板端口变量
VITE_PORT = 8081

# 开发环境 API 代理目标
VITE_ADMIN_API_BASE_URL = http://127.0.0.1:3000

# 开发环境读取配置文件路径
VITE_PUBLIC_PATH = /

# 开发环境路由历史模式
VITE_ROUTER_HISTORY = "hash"

# 是否隐藏首页
VITE_HIDE_HOME = false
